body{
padding: 100px;
}
.submit-area{
    box-shadow: 5px 5px 10px gray;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: blueviolet;
}
.withdraw{
    background-color: tomato;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;

}
.amount{
    margin-top: 50px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}